### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#QC-ing for data Nulls

purchase_data.isnull().any()

Purchase ID    False
SN             False
Age            False
Gender         False
Item ID        False
Item Name      False
Price          False
dtype: bool

In [4]:
# counting the Total number of Players
print(f'The total number of Players is {len(purchase_data["SN"].unique())}')

The total number of Players is 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#calculating number of Unique Items
UniItem = len(purchase_data["Item ID"].unique())

#Calculating average price of Items
AvePrice = purchase_data["Price"].mean()

#Calculating Number of Purchases
NumPur = purchase_data["Purchase ID"].count()

#Calculating Total Revenue
Tot = purchase_data["Price"].sum()

In [6]:
#Creating Summary Dataframe
summary = pd.DataFrame({
    "Number Unique Items":[UniItem],
    "Average Price":[AvePrice],
    "Number of Purchases":[NumPur],
    "Total Revenue":[Tot]
})
summary.head()

   Number Unique Items  Average Price  Number of Purchases  Total Revenue
0                  183       3.050987                  780        2379.77

In [7]:
# Formatting Summary Table with a dollar sign and 2 decimal places
summary["Average Price"] = summary["Average Price"].map("${:.2f}".format)
summary["Total Revenue"] = summary["Total Revenue"].map("${:.2f}".format)

summary.head()

   Number Unique Items Average Price  Number of Purchases Total Revenue
0                  183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
#counting number of alll data in DataFrame
purchase_data.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [9]:
#Filtering dataframe to unique SN values
Filter = purchase_data.drop_duplicates(subset ="SN", keep = "first")
Filter.count()

Purchase ID    576
SN             576
Age            576
Gender         576
Item ID        576
Item Name      576
Price          576
dtype: int64

In [10]:
#Generating 2 additional columns into Filter

Filter["Total Counts"] = Filter["Purchase ID"].value_counts()
Filter["Percentage of Players"]= Filter["Purchase ID"].value_counts()/Filter["Purchase ID"].count()

#Shrinking the Filter Table
ShortFilter = Filter[["Gender", "Total Counts","Percentage of Players"]]

#Grouping ShortFilter by Gender
GroupGender = ShortFilter.groupby(["Gender"])
SummaryGender = GroupGender.sum()
SummaryGender

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

                       Total Counts  Percentage of Players
Gender
Female                           81               0.140625
Male                            484               0.840278
Other / Non-Disclosed            11               0.019097

In [11]:
# Formatting Table
SummaryGender["Percentage of Players"] = SummaryGender["Percentage of Players"].map("{:.2%}".format)
SummaryGender

                       Total Counts Percentage of Players
Gender
Female                           81                14.06%
Male                            484                84.03%
Other / Non-Disclosed            11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
# Setting calculations 
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [13]:
#Calculating Metrics for Purchase Count, Avergae Purchase Price, Total Purchase Value, Ave Total per Person by Gender
#Locating Males in purchase_data
GenderMale = purchase_data.loc[purchase_data["Gender"]=="Male",:]
#Locating Males in Filter
FilterMale = Filter.loc[Filter["Gender"]=="Male",:]
#Counting males in FilterMale
FiltMaleCount = FilterMale["Gender"].count()
#Counting males in GenderMale
PurchMale = GenderMale["Gender"].count()
#Metrics for males
AvePurchM = GenderMale["Price"].mean()
TotPurchM = GenderMale["Price"].sum()
PurchM = TotPurchM/FiltMaleCount
#Locating Females in purchase_data
GenderFemale = purchase_data.loc[purchase_data["Gender"]=="Female",:]
#Locating Females in Filter
FilterFemale = Filter.loc[Filter["Gender"]=="Female",:]
#Counting Females in FilterFemale
FiltFemaleCount = FilterFemale["Gender"].count()
#Counting Females in GenderFemale
PurchFemale = GenderFemale["Gender"].count()
#Metrics for Females
AvePurchF = GenderFemale["Price"].mean()
TotPurchF = GenderFemale["Price"].sum()
PurchF = TotPurchF/FiltFemaleCount
#Locating others in purchase_data
Genderother = purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed",:]
#Locating others in Filter
Filterother = Filter.loc[Filter["Gender"]=="Other / Non-Disclosed",:]
#Counting others in Filterother
FiltotherCount = Filterother["Gender"].count()
#Counting males in Genderother
Purchother = Genderother["Gender"].count()
#Metrics for other
AvePurchO = Genderother["Price"].mean()
TotPurchO = Genderother["Price"].sum()
PurchO = TotPurchO/FiltotherCount

In [14]:
#Creating Summary for Purchasing Analysis Dataframe
SumPurchAna= pd.DataFrame({
    "Gender":["Female","Male","Other/ Non-Disclosed"],
    "Purchase Count":[PurchFemale,PurchMale,Purchother],
    "Ave Purchase Price":[AvePurchF, AvePurchM,AvePurchO],
    "Total Purchase Value":[TotPurchF, TotPurchM, TotPurchO],
    "Ave Total_Person by Gender":[PurchF, PurchM, PurchO]
})

In [15]:
#Formatting Purchasing Analysis
SumPurchAna["Ave Purchase Price"] = SumPurchAna["Ave Purchase Price"].map("${:.2f}".format)
SumPurchAna["Total Purchase Value"] = SumPurchAna["Total Purchase Value"].map("${:.2f}".format)
SumPurchAna["Ave Total_Person by Gender"] = SumPurchAna["Ave Total_Person by Gender"].map("${:.2f}".format)
SumPurchAna.head()

,Gender,Purchase Count,Ave Purchase Price,Total Purchase Value,Ave Total_Person by Gender
0,Female,113,$3.20,$361.94,$4.47
1,Male,652,$3.02,$1967.64,$4.07
2,Other/ Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [16]:
#Filtering dataframe to unique SN values
Filter2 = purchase_data.drop_duplicates(subset ="SN", keep = "first")
Filter2.count()

Purchase ID    576
SN             576
Age            576
Gender         576
Item ID        576
Item Name      576
Price          576
dtype: int64

In [17]:
#Generating Age bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 1000]

# Create labels for the four bins
Age_labels = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]


#Slicing the data and placing it in bins
Filter2["Age Bins"] = pd.cut(Filter2["Age"], bins, labels=Age_labels)
Filter2.head()

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Bins
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [18]:
#Generating 2 additional columns into Filter

Filter2["Total Counts"] = Filter2["Purchase ID"].value_counts()
Filter2["Percentage of Players"]= Filter2["Purchase ID"].value_counts()/Filter["Purchase ID"].count()

#Shrinking the Filter Table
ShortPurch = Filter2[["Age Bins", "Total Counts", "Percentage of Players"]]

#Grouping ShortFilter by Age Bins
GroupAge = ShortPurch.groupby(["Age Bins"])
SummaryAge = GroupAge.sum()

#Applying Formatting
SummaryAge["Percentage of Players"] = SummaryAge["Percentage of Players"].map("{:.2%}".format)
SummaryAge

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

          Total Counts Percentage of Players
Age Bins
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [21]:
#Generating Age bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 1000]

# Create labels for the four bins
Age_labels = ["<10", "10-14", "15-19", "20-24", "25-29","30-34","35-39","40+"]


#Slicing the data and placing it in bins
purchase_data["Age Bins"] = pd.cut(purchase_data["Age"], bins, labels=Age_labels)
purchase_data["Age Bins"].value_counts()

20-24    365
15-19    136
25-29    101
30-34     73
35-39     41
10-14     28
<10       23
40+       13
Name: Age Bins, dtype: int64

In [22]:
#Calculating Metrics for Purchase Count, Avergae Purchase Price, Total Purchase Value, Ave Total per Person by Gender
#Locating <10 in purchase_data
Less10 = purchase_data.loc[purchase_data["Age Bins"]=="<10",:]
#Locating <10 in Filter2
FilterLess10 = Filter2.loc[Filter2["Age Bins"]=="<10",:]
#Counting <10 in FilterLess10
Filtless10Count = FilterLess10["Age Bins"].count()
#Counting <10 in Less10
PurchLess10 = Less10["Age Bins"].count()
#Metrics for Less10
AvePurchLess10 = Less10["Price"].mean()
TotPurchLess10 = Less10["Price"].sum()
PurchL10 = TotPurchLess10/Filtless10Count

23

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame